<!-- This page was written by the team member: Aleksandra Lozyk (Ola)  -->

{% extends 'base.html' %}
{% block title %}Member Login{% endblock %}
{% block content %}
<div class="container py-3">

    <div class="text-center mb-4">
        <h1 class="purple-text" style="font-size: 3rem;">Login</h1>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="min-height: 45.5vh;">
        <div class="p-4 shadow rounded" style="background-color: white; max-width: 420px; width: 100%;">
            <form method="POST" action="{{ url_for('main.login') }}">
                <div class="msg-col">
                    {% if msg %}
                    <div class="msg">{{ msg }}</div>
                    {% endif %}
                </div>
                {{ form.hidden_tag() }}

                <div class="mb-3 text-start">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", placeholder="Enter email") }}
                </div>

                <div class="mb-4 text-start">
                    {{ form.password.label(class="form-label") }}
                    <div class="form-group position-relative mb-3">
                        {{ form.password(class='form-control pe-5', placeholder="Enter password", id='password') }}
                        <i class="bi bi-eye-slash position-absolute top-50 end-0 translate-middle-y me-3 toggle-password"
                           data-target="password" style="cursor: pointer;"></i>
                    </div>
                </div>

                <div class="d-grid mb-3">
                    {{ form.submit(class="register-btn") }}
                </div>

                <div class="text-center">
                    <p class="mb-2">
                        <a href="{{ url_for('main.reset_request') }}" class="purple-link">Forgot Password?</a>
                    </p>

                    <p class="mb-0">
                        No account?
                        <a href="{{ url_for('main.register') }}" class="purple-link">Register here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}